/* Variables */
$popup-background-color: rgba(0, 0, 0, 0.5);
$popup-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$popup-transition-duration: 0.3s;

/* Mixins */
@mixin fade-animation($direction) {
  animation: fade-#{$direction} $popup-transition-duration ease-in-out;
}

.close_btn {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  transition: 0.3s;
  &:hover {
    color: #007bff;
  }
}

/* Styles */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: 1px solid red;
  @include fade-animation(in);

  &.closing {
    //     @include fade-animation(out);
  }
}

.textarea_container {
  width: 100%;
  height: 400px;
}

.textarea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  resize: none;
  box-shadow: none;
  @include fade-animation(in);

  &.closing {
    @include fade-animation(out);
  }

  &:focus {
    outline: none;
  }
}

.close {
  align-self: flex-end;
  cursor: pointer;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer {
  padding: 10px;
  width: calc(100% - 20px);
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
}

.close_btn {
  margin-left: auto;
  border: 1px solid red;
}

/* Keyframes */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.popup_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
